{% extends 'base.html.twig' %}

{% block title %}Taks{% endblock %}

{% block nav_tasks %} class="active" {% endblock %}
{% block nav_home %} {% endblock %}
{% block body %}

   <div class="row">
       <div class="col-md-4">
           {% if is_granted("ROLE_NORMAL") %}
            <h1>Mis tickets</h1>
           {% else %}
            <h1>Mis Asignaciones</h1>
           {% endif %}
       </div>
        {% if is_granted("ROLE_NORMAL") %}
       <div class="col-md-4 col-md-offset-4">
           <h1 class="text-right">
               <a href="{{ path('crear_task') }}" class="btn btn-primary">Nuevo Ticket</a>
           </h1>

       </div>
       {% endif %}
   </div>
        <table id="table"  class=" table table-striped table-hover table-responsive table-condensed">
            <thead>
            <tr>
                <th>#</th>
                <th>Fecha</th>
                {% if is_granted('ROLE_NORMAL') %}
                    <th>Asignado A</th>

                {% elseif is_granted('ROLE_TECNICO') %}
                    <th>Asignado Por</th>
                {% endif %}
                <th>Estado</th>
                <th ><span class="text-left">Actions</span> </th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    {% block js %}

        <script>
                function getTableTask(){

                    $(".table").html("thead>\n"+
                                "        <tr>\n"+
                                "            <th>#</th>\n"+
                                "            <th>Fecha</th>\n"+
                            {% if is_granted("ROLE_NORMAL") %}
                                "            <th>Asignado A</th>\n"+
                            {% endif %}
                            {% if is_granted("ROLE_TECNICO") %}
                                "            <th>Asignado Por</th>\n"+
                            {% endif %}
                                "            <th>Estado</th>\n"+
                                "            <th class=\"text-left\">Actions</th>\n"+
                                "        </tr>\n"+
                                "        </thead> ");
                    $.ajax({
                    url: Routing.generate('task_list', {id : {{ app.user.id}}}),
                    type: 'GET',
                    success:function (response) {

                        var data=response;
                        $.each(data,function(i,index) {
                            {% if is_granted("ROLE_NORMAL") %}
                                var usuario=index.usuarioAsignado.nombre;
                            {% endif %}
                            {% if is_granted("ROLE_TECNICO") %}
                                var usuario=index.usuario.nombre;
                            {% endif %}
                          if(index.id){
                              var url ='{{ path("ver_task",{ 'id':'id_r' } ) }}';
                              var fecha=new Date(index.fechaCreado.timestamp*1000);
                              url=url.replace("id_r",index.id);
                              $(".table").append("<tr><td>"+index.id+"</td>" +
                                                      "<td>"+fecha.toLocaleDateString("es-DO")+"</td>" +
                                                      "<td>"+usuario+"</td>" +
                                                      "<td>"+index.estado+"</td>" +
                                                      "<td class='text-left'><a href='"+url+"' class='btn btn-success btn-sm '>Ver</a>" +
                                                        {% if is_granted("ROLE_TECNICO") %}

                                                      "    " + cambiarEstiloButton(index.estado,index.id)+
                                                        {% endif %}
                                                      "</td>" +
                               "</tr>");

                          }
                        });
                        console.log(response);
                    }

                    });

                }
                function cambiarEstiloButton(estado,id){

                    var result="";
                    if (estado=="EN_PROCESO") {
                       result= "<span name='EN_PROCESO' id='"+id+"' onclick='cambiarEstado("+id+")' class='btn  btn-warning btn-sm '>"+estado+"</span>";
                    }else if(estado=="PENDIENTE") {
                        result= "<span name='PENDIENTE' id='"+id+"' onclick='cambiarEstado("+id+")' class='btn btn-primary btn-sm'>INICIAR</span>";
                    }
                    return result;

                }
                function cambiarEstado(id){
                    var estado =$("#"+id).attr("name");
                    var data={
                        estado:estado
                    };
                    $.ajax({
                        url:Routing.generate('rest_update_ticket', {id : id}),
                        type: 'PUT',
                        data: JSON.stringify(data),
                        success: function (response) {
                            console.log(response);
                        }  ,
                        error: function (err) {
                            console.log(err);
                        }
                    });

                    getTableTask();
                }
                getTableTask();
        </script>
    {% endblock %}

{% endblock %}