{% extends 'base.html.twig' %}

{% block title %}Taks{% endblock %}

{% block nav_tasks %} class="active" {% endblock %}
{% block nav_home %} {% endblock %}
{% block body %}
    <h1> {{ tasks }}</h1>

{% endblock %}