{% extends 'base.html.twig' %}

{% block title %}Taks{% endblock %}

{% block nav_tasks %} class="active" {% endblock %}
{% block nav_home %} {% endblock %}
{% block body %}
    <div class="row">
        <br>
        <div class="col-md-offset-5">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">Tickets</a></li>
                <li role="presentation"><a href="#">Pedientes</a></li>
                <li role="presentation"><a href="#">En Proceso</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-md-offset-5">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#">Tickets</a></li>
                <li role="presentation"><a href="#">Pedientes</a></li>
                <li role="presentation"><a href="#">En Proceso</a></li>
            </ul>
        </div>
    </div>


{% endblock %}