{% extends 'base.html.twig' %}
{% block title %}Users{% endblock %}
{% block nav_users %}class="active"{% endblock %}
{% block nav_home %} {% endblock %}
{% block body %}
    <h1> Lista de Usuarios</h1>
    <ul>
        {% for usuario in usuarios %}
            <li> {{ usuario.nombre }} - {{ usuario.username }}</li>
        {% endfor %}
    </ul>
{% endblock %}